#sect1{
    background-image: url("images/h_img.jpg");
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
}
.h1{
    color: whitesmoke;
    border: 2px solid whitesmoke;
    width: 80px;
    padding: 20px;
    border-radius: 50%;
    position: relative;
    left: 600px;
    top: 210px;
}
#welcome{
    color: white;
    position: relative;
    top: 210px;
    font-weight: bold;
}
.carda{
    text-align: center;
}
#cardb{
    text-align: center;
    font-weight: bold;
    height: 280px;
}
#cardc{
    background-image: url("images/s_image.jpg");
    height: 280px;
    background-repeat: no-repeat;
    background-size: cover;

}
#cardd{
    text-align: center;
    color: white;
    position: relative;
    top: 60px;
    font-weight: bold;
}
#carde{
 justify-content: center;
}
    
#wedo{
    text-align:center;
}
h3{
    text-align: center;
    font-weight: bold;
}
.row{
    margin-left: 120px;
}
.portfolio{
   height: 200px;
   width: 250px;
}
#cardf{
    margin-left: -20px;
    margin-right: 50px;
    margin-bottom: 30px;
}
#cardg{
    background-image: url(images/c_image\ \(1\).jpg);
    height: 500px;
    background-size: cover;
}
#cardg{
    color: white;
}
#inp1{
    
}