#sect1{
    background-image: url("images/h_img.jpg");
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
}
.h1{
    color: whitesmoke;
    border: 2px solid whitesmoke;
    width: 80px;
    padding: 20px;
    border-radius: 50%;
    position: relative;
    left: 600px;
    top: 210px;
}
#welcome{
    color: white;
    position: relative;
    top: 210px;
    font-weight: bold;
}
.carda{
    text-align: center;
}
#cardb{
    text-align: center;
    font-weight: bold;
    height: 280px;
}
#cardc{
    background-image: url("images/s_image.jpg");
    height: 280px;
    background-repeat: no-repeat;
    background-size: cover;

}
#cardd{
    text-align: center;
    color: white;
    position: relative;
    top: 60px;
    font-weight: bold;
}
#carde{
 justify-content: center;
}
    
#wedo{
    text-align:center;
}
h3{
    text-align: center;
    font-weight: bold;
}
.row{
    margin-left: 120px;
}
.portfolio{
   height: 200px;
   width: 250px;
}
#cardf{
    margin-left: -20px;
    margin-right: 50px;
    margin-bottom: 30px;
}
#cardg{
    background-image: url(images/c_image\ \(1\).jpg);
    height: 500px;
    background-size: cover;
}
#cardg{
    color: white;
    
}
#portfolio1{
    display: none;
    text-align: center;
}
.head5{
    font-weight: bold;
}
#portfolio2{
    display: none;
    text-align: center;
} 
#cardf,#carde{
    background-color: whitesmoke;
}
#portfolio3{
    display: none;
    text-align: center;
}   
.footer{
    text-align: center;
    font-weight: bold;
    background-color: whitesmoke;
}    
#footer{
    background-color: whitesmoke;
}
#inp1{
    position: relative;
    left: -50px;
    color: white;
}
.none{
    background-color: transparent;
}
#comment{
    width: 850px;
    position: relative;
    left: 150px;
}
.hid1,.hid2,.hid3,.hid4{
    border: 15px solid white;
    text-align: center;
    height: 215px;
    width: 260px;
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
    position: absolute;
    top: -3px;
    display: none;
    color: white;
    font-weight: bold;
    
}